*{margin: 0; padding: 0;}
a{text-decoration: none; display: block;}
ol, ul, dl{list-style: none;}

#header{
  width: 1200px;
  margin: 0 auto;
  background-color: #04D9B2;
  height: 100px;
  position: relative;
  }
#header:after{
  content: "";
  display: block;
  clear: both;
}
#header .ab_box_twin{
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #D9985F;
  height: 0;
  transition: 0.5s;
  overflow: hidden;
  width: 100%;
}
#header h3{
  float: left;
}
#header h3 a{
  background-color: #F24171;
  color: #04d9b2;
  font-size: 20px;
  line-height: 100px;
  width: 150px;
  text-align: center;
}
#header .depth1{
  float: right;
  width: 600px;
  margin-top: 50px;
  margin: 60px 15px 0 0;
}
#header .depth1 > li{
  float: left;
  width: 25%;
  position: relative;
}
#header .depth1 > li > a{
  background-color: #F24171;
  color: #04d9b2;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}
#header .depth1:hover .ab_box {
  height: 154px;
  z-index: 2;
}
#header .depth1:hover + .ab_box_twin{
  height: 150px;
  z-index: 1;
}
#header .depth1 > li:hover > a{
  background-color: #ef0b49;
  color: #ffc3d3;
}
#header .depth2 li:hover a{
  background-color: #D9734E;
  color: #84ffe8;
}
#header .ab_box{
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  transition: 0.5s;
  overflow: hidden;
  height: 0;
}

#header .depth2{}
#header .depth2 li{
  display: block;
}
#header .depth2 li a{
  background-color: #D9985F;
  color: #F24171;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}
/*section영역**/
section{
  width: 1200px;
  margin: 0 auto;
}
#section1{
  min-height: 300px;
}
#section1 div{
  width: 1200px;
  position: relative;
}
#section1 div ul{}
#section1 div ul li{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 300px;
  display: none;
}
#section1 div ul .bg_01{
  background-color: #F24171;
}
#section1 div ul .bg_02{
  background-color: #04D9B2;
}
#section1 div ul .bg_03{
  background-color: #03A678;
}
#section1 div ul .bg_04{
  background-color: #D9985F;
}
#section1 div ul .bg_05{
  background-color: #db5c2e;
}

#section2{
  width: 1200px;
  margin: 0 auto;
  min-width: 200px;
}
#section2 .wrap{}

#section2:after{
  content: "";
  display: block;
  clear: both;
}
#section2 .wrap .tabbox{
  width: 33.33%;
  float: left;
  background-color: #d5fff1;
  height: 200px;
}
#section2 .tabbox ul{
  margin: 10px 0 10px 35px;
}
#section2 .tabbox ul li{
  float: left;
  width: 100px;
  position: relative;
}

#section2 .tabbox ul li input{
  display: none;
}
#section2 .tabbox ul li label{
  display: block;
  background-color: #F24171;
  color: #04D9B2;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  border: solid 3px #ffb6b6;
  width: 100px;
}
#section2 .tabbox ul li .textbox{
  width: 330px;
  background-color: #f0bed8;
  height: 120px;
  border: solid 5px #fff;
}
#section2 .tabbox ul li .textbox p{
  color: #fff;
  line-height: 27px;
  text-align: center;
  font-size: 13px;
}
#section2 .tabbox ul li .textbox ul li a{
  width: 80px;
  height: 80px;
  margin: 20px 10px 0 25px;
  display: inline-block;
}
#section2 .tabbox ul li .textbox ul li a img{
  width: 100%;
}
#section2 .tabbox .textbox ul {
    margin: 0;
}
#section2 .tabbox ul li .textbox li:hover a{
  opacity: 0.8;
}
#section2 .tabbox ul li input:checked + label {
  color: #F24171;
  background-color: #04D9B2;
}
#section2 .tabbox ul li + li .textbox{
  display: none;
}
#section2 .tabbox ul li input:checked + label + div {
  z-index: 3;
}
#section2 .tabbox ul li + li input:checked + label + div {
    display: block;
    position: absolute;
    left: -100%;
    height: 120px;
  }
#section2 .imgbox{
  width: 33.33%;
  float: left;
  background-color: #8c4ff8;
  height: 200px;
}
#section2 .imgbox ul{
  width: 100%;
  margin: 30px 0 0 35px;
}
#section2 .imgbox ul::after{
  content: "";
  display: block;
  clear: both;
}
#section2 .imgbox ul li{
  width: 29%;
  float: left;
  margin-left: 5px;
}
#section2 .imgbox ul:first-child li {
    margin: 0;
}
#section2 .imgbox ul li a{
  width: 100px;
display: inline-block;
}
#section2 .imgbox ul li span{
  text-align: center;
  color: #c46072;
  background-color: #fff;
  font-size: 20px;
  line-height: 30px;
  width: 100px;
  display: block;
  margin-top: 10px;
}
#section2 .imgbox ul li a img{
  width: 100%;
}
#section2 .imgbox ul li:hover a{
  opacity: 0.5;
}
#section2 .imgbox ul li:hover span{
  background-color: #c46072;
  color: #fff;
}

#section2 .wrap .bnbox{
  width: 33.33%;
  float: left;
  height: 200px;
  background-color: #7fffff;
      position: relative;
}
#section2 .wrap #button_1{
  width: 100px;
  height: 30px;
  position: absolute;
  left: 35%;
  top: 45%;
}

#section2 .wrap .bnbox .bnbox_bg{
  background-image: url(../img/review_3.png);
  height: 150px;
  width: 300px;
  margin: 25px 30px 20px 50px;
  cursor: pointer;
}
#section2 .wrap .bnbox .popup{
  position: fixed;
  left: 35%;
  top: 35%;
  width: 400px;
  height: 200px;
  background-color: #fff;
}
#section2 .wrap .bnbox .popup span{
  display: block;
  font-size: 20px;
  background-color: beige;
  color: #a104b8;
}
#section2 .wrap .bnbox .popup span + p{
  display: block;
  background-color: white;
  color: #fc6c54;
  text-align: center;
  font-size: 15px;
  padding: 10px 0;
}

#section2 .wrap .bnbox .popup span + p + button{
  width: 50px;
  height: 20px;
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  vertical-align: middle;
  color: cadetblue;
  background-color: #d5a5a5;
  border: none;
  margin-left: 340px;
  cursor: pointer;

}

#section2 .wrap .bnbox .popup button span {
    font-size: 13px;
    vertical-align: middle;
    color: #468a8c;
    display: inline-block;
    line-height: 13px;
    background-color: #d5a5a5;
}

#footer{
  width: 1200px;
  height: 100px;
  background-color: #04d9b2;
margin: 0 auto;
}
#footer::after{
  content: "";
  display: block;
  clear: both;
}
#footer .footer_left{
  float: left;
  width: 1000px;
}
#footer .footer_left .menu{
  display: block;
}
#footer .footer_left p{
  font-size: 13px;
  text-align: center;
  line-height: 13px;
  color: #fff;
  display: block;
}
#footer .footer_left .menu li{
  float: left;
  width: 25%;
}
#footer .footer_left .menu li:hover a{
  color: #94fed1;
  background-color: #1d6d52;
}
#footer .footer_left .menu li a{
  background-color: #94fed1;
  color: #1d6d52;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
}


#footer .footer_right{
  float: right;
  width: 200px;
}
#footer .sns{display: block;}
#footer .sns li{
  float: left;
  width: 33.33%;
  background-color: beige;
}
#footer .sns li a{
  width: 40px;
  margin: 5px 5px 5px 13px;
}
#footer .sns li a img{
  display: block;
  width: 100%;
}
#footer .sns li:hover a{
  opacity: 0.8;
}

#footer .family{
  display: block;
  width: 200px;
  position: relative;
}
#footer .family input{
  display: none;
}
#footer .family label{
  display: block;
  text-align: center;
  background-color: #1e7171;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;

}
#footer .family input:checked + label + .ab_box{
  height: 177px;

}
#footer .family .ab_box{
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 100%;
  height: 0;
  transition: 0.5s;
  overflow: hidden;

}
#footer .family .ab_box ul{}
#footer .family .ab_box ul li:hover a{
  color: #1e7171;
  background-color: #fff;
}
#footer .family .ab_box ul li a{
  display: block;
  background-color: #1e7171;
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-bottom: solid 1px #ccc;
  line-height: 35px;

}



















body{}
